<div id="<%= dom_id @software_instance %>">
  <p>
    <strong>Name:</strong>
    <%= @software_instance.name %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= @software_instance.organisation.name %>
  </p>

  <p>
    <strong>Organisation group:</strong>
    <%= @software_instance.organisation_group %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= @software_instance.team %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @software_instance.owner %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= @software_instance.product %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= @software_instance.provider %>
  </p>

  <p>
    <strong>Provider contact:</strong>
    <%= @software_instance.provider_contact %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= @software_instance.version %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @software_instance.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @software_instance.status %>
  </p>

  <p>
    <strong>Internal:</strong>
    <%= @software_instance.internal ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>License:</strong>
    <%= @software_instance.license %>
  </p>

  <p>
    <strong>Quantity purchased:</strong>
    <%= @software_instance.quantity_purchased %>
  </p>

  <p>
    <strong>Quantity used:</strong>
    <%= @software_instance.quantity_used %>
  </p>

</div>
<div>
  <%= govuk_link_to "Edit", edit_software_instance_path(@software_instance) %> |
  <%= govuk_link_to "Back to list", software_instances_path %>

  <%= button_to(
        "Destroy",
        @software_instance,
        method: :delete,
        class: "govuk-button govuk-button--warning govuk-!-margin-top-5",
        data: { module: "govuk-button" }
      ) %>
</div>
