<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: Rails.env,
  product_name: "Data Software Catalogue",
  browser_title: govuk_browser_title
} do %>
<%#= javascript_importmap_tags %>
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: Rails.env,
    product_name: "Data Software Catalogue"
  } %>
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= authentication_control %>
          <%= content_tag(:p, notice, class: 'notice', style: "color: green") if notice.present? %>
          <%= content_tag(:p, alert, class: 'alert', style: "color: red") if alert.present? %>
          <%= yield %>
        </div>
      </div>
    </main>
  </div>
  <%= render "govuk_publishing_components/components/layout_footer", {} %>
<% end %>
